<footer class="footer pt-80">
    <div class="container">
        <div class="columns">
            <div class="column is-7">
                <nav class="level level-left is-mobile social">
                    {% for social in footer.social %}
                    <span class="level-left">
                        <a href="{{settings[social]}}" class="button btn-square rounded primary-btn text-bold" target="_blank">
                            <span class="icon"><i class="fa fa-{{social}}"></i></span>
                        </a>
                    </span>
                    {% endfor %}
                </nav>
            </div>
        </div>

    </div>
</footer>
