<nav class="navbar navbar-wrapper navbar-fade is-transparent">
    <div class="container">
        <!-- Brand -->
        <div class="navbar-brand">
            <a class="navbar-item" href="{{menu.startpage_link}}">
                <img class="light-logo" src="{{menu.logo|media}}" alt="Logo">
            </a>
            <!-- Responsive toggle -->
            <div class="custom-burger" data-target="navbar-default">
                <a class="responsive-btn">
                    <span class="menu-toggle">
                        <span class="icon-box-toggle">
                            <span class="rotate">
                                <i class="icon-line-top"></i>
                                <i class="icon-line-center"></i>
                                <i class="icon-line-bottom"></i>
                            </span>
                        </span>
                    </span>
                </a>
            </div>
            <!-- /Responsive toggle -->
        </div>

        <!-- Navbar menu -->
        <div id="navbar-default" class="navbar-menu">
            <!-- Navbar Start -->
            <div class="navbar-start">

            </div>
            <!-- Navbar end -->
            <div class="navbar-end">
                {% for item in menu.items %}
                <!-- Navbar item -->
                <a class="navbar-item is-slide" href="{{item.link}}">
                    {{item.title}}
                </a>
                {% endfor %}

                {% if menu.cta_title %}
                <div class="navbar-item">
                    <a href="{{ menu.cta_url }}"
                       class="button is-bold btn-align primary-btn rounded">
                        {{ menu.cta_title | raw }}
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
