{% if module.is_section %}
<div class="section {{ module.section_spacing }} {{ module.section_css_class }}"
     {% if module.section_style %} style="{{ module.section_style }}" {% endif %}>
{% endif %}
    {% if module.is_container %}
    <div class="container {{module.container_css_class}}"
         {% if module.container_style %} style="{{ module.container_style }}" {% endif %}>
    {% endif %}
        <div class="columns {{ module.columns_gap }} ordered-mobile">
            <div class="column is-6 {{module.first_column_css_class}}">
                {% partial 'modules/module-switch' modules=module.first %}
            </div>
            <div class="column is-6 {{module.second_column_css_class}}">
                {% partial 'modules/module-switch' modules=module.second %}
            </div>
        </div>
    {% if module.is_container %}
    </div>
    {% endif %}
{% if module.is_section %}
</div>
{% endif %}
