{% autoescape %}
    {{ module.html|raw }}
{% endautoescape %}

{% if module.js %}
    <script>
        {% autoescape %}
            {{ module.js|raw }}
        {% endautoescape %}
    </script>
{% endif %}

{% if module.css %}
    <style>
        {% autoescape %}
            {{ module.css|raw }}
        {% endautoescape %}
    </style>
{% endif %}
