<div {% if module.alignment %} class="{{module.alignment}}" {% endif %}>
    {% if module.image_link %}
    <a href="{{module.image_link}}">
        <picture>
            {% if '.svg' not in module.image|media %}
                <source data-srcset="{{module.image|media|reduce_webp(module.image_size)}}" type="image/webp">
                <source data-srcset="{{module.image|media|reduce_img(module.image_size)}}" type="image/jpeg">
            {% endif %}
            <img class="lazyload {{module.css_class}}" data-src="{{module.image |media |reduce_img(module.image_size)}}" alt="{{module.image_alt}}" title="{{module.image_title}}">
        </picture>
    </a>
    {% else %}
    <picture>
        {% if '.svg' not in module.image|media %}
            <source data-srcset="{{module.image|media|reduce_webp(module.image_size)}}" type="image/webp">
            <source data-srcset="{{module.image|media|reduce_img(module.image_size)}}" type="image/jpeg">
        {% endif %}
        <img class="lazyload {{module.css_class}}" data-src="{{module.image |media |reduce_img(module.image_size)}}" alt="{{module.image_alt}}" title="{{module.image_title}}">
    </picture>
    {% endif %}
</div>
