<div class="columns is-centered is-multiline {{module.css_class}}">
    {% for item in module.images %}
    <div class="partner-box column is-2-desktop padding-15 has-text-centered">
        {% if item.url %}
        <a href="{{item.url}}" class="dark-text" target="_blank" rel=”noopener”>
        {% endif %}
            {% if item.image %}
                <div class="logo-wrap">
                    <picture>
                        {% if '.svg' not in item.image|media %}
                            <source data-srcset="{{item.image|media|reduce_webp(item.image_size)}}" type="image/webp">
                            <source data-srcset="{{item.image|media|reduce_img(item.image_size)}}" type="image/jpeg">
                        {% endif %}
                        <img class="lazyload" data-src="{{item.image |media |reduce_img(item.image_size)}}" alt="{{item.image_alt}}" title="{{item.image_title}}">
                    </picture>
                </div>
            {% endif %}
            {% if item.title %}
                <div class="box-title">
                    {{item.title}}
                </div>
            {% endif %}
            {% if item.short_description %}
                <div class="box-text">
                    {{item.short_description}}
                </div>
            {% endif %}
        {% if item.url %}
        </a>
        {% endif %}
    </div>
    {% endfor %}
</div>
