description = "Default layout"
==
<?php
function onInit()
{
    $themePath = 'themes/' . $this->theme->getDirName();

    if(config('app.assets_from') == 'cdn') {
        $this->layout['styles'] = url(config('app.cdn').mix('assets/css/app.css', $themePath));
        $this->layout['all'] = url(config('app.cdn').mix('assets/js/all.min.js', $themePath));

        $this->layout['styles'] = str_replace('/themes/'.config('pagebuilder.theme_name').'/assets/', '/app/', $this->layout['styles']);
        $this->layout['all'] = str_replace('/themes/'.config('pagebuilder.theme_name').'/assets/', '/app/', $this->layout['all']);
    } else {
        $this->layout['styles'] = mix('assets/css/app.css', $themePath);
        $this->layout['all'] = mix('assets/js/all.min.js', $themePath);
    }
}

function asset_path($path, $manifestDirectory = '')
{
    $mixPath = mix($path, $manifestDirectory);
    $cdnUrl  = config('app.cdn');
    $mixPath = $cdnUrl . $mixPath;

    return $mixPath;
}

function onStart()
{
    $this['page'] = @$this->controller->vars['this']['param']['page'];
    $this['menu'] = @$this->controller->vars['this']['param']['menu'];
    $this['footer'] = @$this->controller->vars['this']['param']['footer'];
    $this['modules'] = @$this->controller->vars['this']['param']['modules'];
    $this['seo'] = @$this->controller->vars['this']['param']['seo'];
    $this['path'] = @$this->controller->vars['this']['param']['path'];
    $this['alternate'] = @$this->controller->vars['this']['param']['alternate'];
    $this['locale_links'] = @$this->controller->vars['this']['param']['locale_links'];
    $this['current_locale'] = @$this->controller->vars['this']['param']['current_locale'];
    $this['settings'] = @$this->controller->vars['this']['param']['settings'];
    $this['current_url'] = @$this->controller->vars['this']['param']['current_url'];
}
?>
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ seo.meta_title ? seo.meta_title : page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="bitcraft gmbh - www.bitcraft.at">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:url" content="{{current_url}}">

        <link rel="apple-touch-icon" sizes="57x57" href="{{'favicons/android-icon-144x144.png'|media}}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{'favicons/apple-icon-60x60.png'|media}}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{'favicons/apple-icon-72x72'|media}}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{'favicons/apple-icon-76x76.png'|media}}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{'favicons/apple-icon-114x114.png'|media}}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{'/favicons/apple-icon-120x120.png'|media}}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{'favicons/apple-icon-144x144.png'|media}}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{'favicons/apple-icon-152x152.png'|media}}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{'favicons/apple-icon-180x180.png'|media}}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{'favicons/android-icon-192x192'|media.png}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{'favicons/favicon-32x32.png'|media}}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{'favicons/favicon-96x96.png'|media}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{'favicons/favicon-16x16.png'|media}}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{'favicons/ms-icon-144x144.png'|media}}">
        <meta name="theme-color" content="#ffffff">

        {% if seo.meta_description %}
            <meta name="description" content="{{ seo.meta_description }}">
        {% endif %}

        {% if seo.meta_title %}
            <meta name="title" content="{{ seo.meta_title }}">
        {% endif %}

        {% if seo.canonical_url %}
            <link rel="canonical" href="{{seo.canonical_url}}">
        {% else %}
            <link rel="canonical" href="{{current_url}}">
        {% endif %}

        {% for alt in alternate %}
            <link rel="alternate" href="{{alt.href}}" hreflang="{{alt.hreflang}}">
        {% endfor %}

        {% if seo.robot_index %}
            <meta name="robots" content="{{seo.robot_index}}, {{seo.robot_follow}} {% if seo.robot_advanced %}, {{seo.robot_advanced}} {% endif %}">
        {% endif %}

        {% if seo.meta_keywords %}
            <meta name="keywords" content="{{seo.meta_keywords}}">
        {% endif %}

        {% if seo.og_type %}
            <meta property="og:type" content="{{seo.og_type}}">
        {% endif %}

        {% if seo.og_title %}
            <meta property="og:title" content="{{seo.og_title}}">
        {% endif %}

        {% if seo.og_description %}
            <meta property="og:description" content="{{seo.og_description}}">
        {% endif %}

        {% if seo.og_image %}
            <meta property="og:image" content="{{seo.og_image|media}}">
        {% endif %}

        <!--Core CSS -->
        <link href="{{ this.layout.styles }}" rel="stylesheet">

        {% styles %}

        {% if settings.head_script %}

            {{ settings.head_script | raw }}

        {% endif %}
    </head>
    <body>

    {% flash %}
        <p data-control="flash-message" data-interval="5" class="{{ type }}">
            {{ message }}
        </p>
    {% endflash %}

        <!-- Header -->
        <header id="layout-header">
            {% partial 'site/header' menu=menu %}
        </header>

        <!-- Content -->
        <main id="layout-content" class="pt-70">
            {% if modules %}
                {% partial 'modules/module-switch' modules=modules %}
            {% else %}
                {% page %}
            {% endif %}
        </main>
        <!-- Footer -->
        <footer id="layout-footer">
            {% partial 'site/footer' footer=footer settings=settings %}
        </footer>

        <!-- Bulkit js -->
        <script src="{{ this.layout.all }}" async defer></script>

        {% if settings.body_script %}

            {{ settings.body_script | raw }}

        {% endif %}
    </body>
</html>
