title = "Page not found (404)"
url = "/404"
layout = "default"
==
<div class="container">
    <div class="columns pt-80 pb-80">
        <div class="column is-12 has-text-centered content-wrapper pb-0">
            <div class="content section">
                {% autoescape %}
                    {{settings.not_found_content|raw}}
                {% endautoescape %}
            </div>
        </div>
    </div>
</div>
